%h1
  =t(:user)
  =t(:login)

= form_tag admin_sessions_path do
  %p
    =text_field_tag :email, params[:email], :placeholder => t(:email), :type => 'email'
    
  %p
    =password_field_tag :password, '', :placeholder => t(:password)
    
  %p.button
    =submit_tag t(:login)
