#progress {
  width: 100%;
  height: 20px;
  border-radius: 6px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.27, rgb(41,178,242)),
    color-stop(0.64, rgb(145,217,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(41,178,242) 27%,
    rgb(145,217,255) 64%
  );
}

#progress .inner {
  margin: 0;
  padding: 0;
  height: 20px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.27, rgb(242,41,108)),
    color-stop(0.64, rgb(255,127,163))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(242,41,108) 27%,
    rgb(255,127,163) 64%
  );
}

