%h2=t(:user)

= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 エラーがありました
      %ul
        - for message in @user.errors.full_messages
          %li=message

  %p
    =f.text_field :email, :placeholder => t(:email), :type => 'email'

  %p
    =f.password_field :password, :placeholder => t(:password)

  %p
    =f.password_field :password_confirmation, :placeholder => t(:password_confirmation)

  %p.button
    =f.submit

