%ul{:'data-role' => 'listview'}
  - @children.each do |child|
    %li= link_to child.nickname, admin_child_path(child)

%p
  = link_to t(:child) + t(:new), new_admin_child_path, :'data-role' => 'button'
