%p
  『ぼくの / わたしのおこづかい』へようこそ！
%p
  このサービスで、おこづかいをじょうずに<ruby>使<rt>つか</rt></ruby>おう！
%p
  まずはおうちのひとに<ruby>登録<rt>とうろく</rt></ruby>してもらってね。

%h2 つかいかた！
%p
  %a{:href => 'http://youtu.be/Wzmc1eW_HF8'} <ruby>説明動画<rt>せつめいどうが</rt></ruby>

%p
  = link_to 'ぼく / わたし ログイン', child_login_path,
    :'data-role' => 'button'
  = link_to 'おさいふ<ruby>当番<rt>とうばん</rt></ruby> ログイン'.html_safe,
    admin_login_path, :'data-role' => 'button'
%p
  = link_to '<ruby>登録<rt>とうろく</rt></ruby>'.html_safe,
    signup_path, :'data-role' => 'button'
