:javascript
  $(function(){
    var $progress = $('#progress');
    var $inner = $('#progress .inner');
    $inner.width($progress.width() * $inner.data('width'));
  });

%h2=t(:wish)

%div#progress
  %div.inner{:'data-width' => @child.wishes.approved.monthly(params[:ym]).sum(:cost).to_f / @child.pocket}

%p
  = number_with_delimiter(@child.wishes.approved.monthly(params[:ym]).sum(:cost))+' 円'
  \/
  = number_with_delimiter(@child.pocket)+' 円'

%ul{:'data-role' => 'listview'}
  - for wish in @wishes
    %li{:class => "status_#{wish.status}"}
      =wish.purpose
      \/
      =number_with_delimiter(wish.cost)+' 円'
      %div{:'data-role' => 'controlgroup', :'data-type' => 'horizontal'}
        - if wish.status == 1
          =link_to 'いいよ',
            admin_child_wish_approve_path(wish.child, wish),
            {:action => 'approve', :method => 'put', :'data-role' => 'button', :'data-theme' => 'b'}
        - else
          =link_to 'いいよ',
            admin_child_wish_approve_path(wish.child, wish),
            {:action => 'approve', :method => 'put', :'data-role' => 'button'}

        - if wish.status == 2
          =link_to 'ダメ',
            admin_child_wish_reject_path(wish.child, wish),
            {:action => 'reject', :method => 'put', :'data-role' => 'button', :'data-theme' => 'b'}
        - else
          =link_to 'ダメ',
            admin_child_wish_reject_path(wish.child, wish),
            {:action => 'reject', :method => 'put', :'data-role' => 'button'}
